@use './variables' as *;

@mixin displayCenterCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin displayAroundCenter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin displayBetweenCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

@mixin boxRounded {
  width: 35px;
  height: 35px;
  border-radius: $border-radius-rounded;
  box-shadow: $box-shadow;
  @include displayCenterCenter;
}

@mixin defaultButton {
  border: none;
  background-color: transparent;
  color: $color-white-1;
}
