$color-dark-5: #F1F0F0;
$color-dark-1: #454D4A;
$color-dark-2: #393B3A;

$color-white-1: #FFFFFF;

$icon-size: 18px;

$color-primary: #58A0E2;

$color-dark-green: rgba(#2D7684, 50%);
$color-green: #03C68B;
$color-light-red: #FF7B7B;
$color-dark-blue: #312965;
$color-gold: #EEB609;

$border-raduis: 3px;
$border-raduis-2: 7px;
$border-radius-rounded: 50%;

$padding-section: 40px;

$transition: 0.5s;

$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
