<div id="adv">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-2 col-md-12">
        <div class="min-ads">
          <div class="wrapper">
            <img src="assets/headphone2.png" alt="headphone" class="img-fluid">
          </div>
          <div class="wrapper">
            <img src="assets/image.png" alt="handfree" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-lg-10 col-md-12">
        <div class="wrapper-ads">
          <swiper [navigation]="true" [config]="config" class="mySwiper">
            <ng-template swiperSlide>
              <div class="swiper-slide">
                <div class="content">
                  <h5>LG GRAM I7</h5>
                  <p class="description">12th Gen Core i7 / Win11 / Microsoft 365</p>
                  <p class="price">Starting at 499 $</p>
                  <button class="btn">SHOP NOW</button>
                </div>
                <div class="image">
                  <img src="assets/Laptop image.png" alt="">
                </div>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="swiper-slide">
                <div class="content">
                  <h5>LED Smart</h5>
                  <p class="description">OnePlus 80 cm (32 inches) Y Series HD Ready LED Smart Android TV 32Y1</p>
                  <p class="price">Starting at 250 $</p>
                  <button class="btn">SHOP NOW</button>
                </div>
                <div class="image">
                  <img src="assets/71vZypjNkPS 1 (1).png" alt="">
                </div>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="swiper-slide">
                <div class="content">
                  <h5>Sony Camera</h5>
                  <p class="description">Zebronics ZEB-JUKE BAR DOLBY ATMOS Home Theater With Subwoofer</p>
                  <p class="price">Starting at 150 $</p>
                  <button class="btn">SHOP NOW</button>
                </div>
                <div class="image">
                  <img src="assets/81lghf1fdzL 1.png" alt="">
                </div>
              </div>
            </ng-template>
          </swiper>
        </div>
      </div>
    </div>
  </div>
</div>
