<nav class="my-3">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-2 col-sm-8">
        <img src="assets/Elecxo-Logo.svg" alt="">
      </div>
      <div class="col-md-2 col-sm-4 d-flex justify-content-between">
        <div class="icon-box">
          <a routerLink="/user/home"><i class="fa-solid fa-house"></i></a>
        </div>
        <div class="icon-box">
          <a routerLink="/user/products"><i class="fa-solid fa-shop"></i></a>
        </div>
      </div>
      <div class="col-md-6 col-sm-8">
        <input type="text" placeholder="Search" class="form-control">
      </div>
      <div class="col-md-2 col-sm-4 d-flex justify-content-between">
        <div class="icon-box">
          <i class="fa-regular fa-user"></i>
        </div>
        <div class="icon-box cart">
          <a routerLink="/user/cart"><i class="fa-brands fa-opencart"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-danger logout w-100 mt-4" routerLink="/register"><a>Logout</a></button>
      </div>
    </div>
  </div>
</nav>
